@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&display=swap');




    Body{
        font-family: 'Montserrat';
        text-align : center;
    }


h1, h2, h3, h4, h5, h6{  
    font-family: 'montserrat';
}



/* Heading */

.big-heading{ /* Title, CTA */
    font-family: 'Montserrat';
    font-size  : 3.5rem;
    font-weight: 900;
    line-height: 150%;

}
.medium-heading{ /*footer, princing*/
    font-weight: bold;
    font-size  : 2.5rem;
    line-height: 1.5rem;
    text-align: center;
}



/* ==== CONTAINER ==== */
#title .container-fluid{
    padding: 3% 15% 9%;
}


.container-fluid{
    padding: 7% 15%;
}

/* ==== SECTIONS ==== */
.colored-section{
        background-color: #ff4c68;
        color           : white;
}
.white-section{
    background-color: white;
}

/* ==== Navigation Bar ==== */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size  : 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size  : 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* ==== TITLE ==== */

#title{
    text-align: left;
}

/* ==== title-image ==== */
.title-image {
    width    : 50%;
    transform: rotate(25deg);
    position : absolute;
    right    : 30%;
}


/* ==== Download-button ==== */
.download-button{
    margin: 5% 3% 5% 0%;
}
/* ==== title-Mobile ==== */
@media (max-width: 1028px){
    .title-image{
        position : static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }

}

/* ==== Features ==== */
#features{
    position: relative;
    z-index : 1;
}
.feature-title{
    font-size: 1.5rem;  /* h3 */
}

.feature-text{
    color: grey;  /* p */
}

.icon{
   
    width        : 100% ;
    color        : #ef8172;
    margin-bottom: 1rem;
    transition: 0.5s;
}
.icon:hover {
    color: #ff4c68;
}

/* ==== Testimonials Section ==== */

#testimonials{
    background-color: #ef8172;
    color           : #fff;

}
.testimonial-text{ /* h2 */
    font-weight: bold;
    font-size  : 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width        : 20%;
    border-radius: 100%;
    margin-top   : 20px;
}

/* companias */
.companies_info {
    background-color: #ef8172;
    display: flex;
    margin-top: auto;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    grid-gap: 5vh;
    gap: 5vh;
}

.company img {
    width: auto;
    height: 60px;
    transition: all .5s ease;
    filter: grayscale(100%);
    opacity: .5;
}

.company img:hover{
    width: auto;
    filter: none;
    opacity: 1;
    height: 65px;
}

/* Princing Section */

#pricing{
    padding: 100px;
}

.price-text{ /* h2 */
    font-weight: bold;
    font-size  : 3rem;
    line-height: 1.5;
}
.small-plan-text{ /* p */
    color: gray;
}



.container{
    padding-left : 15px;
    padding-right: 15px;
    margin-right : auto;
    margin-left  : auto;
}


#press{
    background-color: #ef8172;
}
.press-logo{
    width : 15%;
    margin: 20px 20px 50px;
}




#cta{
    color  : white;
    padding: 7% 15%;
}


/*   Footer   */
footer{
    padding: 3% 5%;
} 

.copyright-text{ /* p */
    color: grey;
}
.footer-icon{
    margin-right: 30px;
}



#myBtn {
    display         : none;
    position        : fixed;
    bottom          : 20px;
    right           : 30px;
    z-index         : 99;
    border          : none;
    outline         : none;
    background-color: #ff4c68;
    color           : white;
    cursor          : pointer;
    padding         : 15px;
    border-radius   : 100%;
    font-size       : 18px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
  }
  
  #myBtn:hover {
    transition: 0.5s;
    background-color: #ef8172;
  }
